<li style="background-color:[[+cat_bg]];color:[[+cat_fg]]">

<div class="date">
            <div class="month"><p>[[+Time:date=`%d`]][[+phx:if=`[[+Time:date=`%d.%m.%Y`]]`:is=`[[+Timeend:date=`%d.%m.%Y`]]`:then=``:else=`/[[+Timeend:date=`%d`]]`]]<span>[[+Time:date=`%b`]]</span></p></div>
            <p style="[[+mxcEventListItemMultiDayStyle]]">[[+Time:date=`%Y`]]<!--<br />
            [[+Time:date_mod=`dayname:::2`]][[+phx:if=`[[+Time:date=`%d.%m.%Y`]]`:is=`[[+Timeend:date=`%d.%m.%Y`]]`:then=``:else=`/[[+Timeend:date_mod=`dayname:::2`]]`]]--></p>
            </div>

<p style="margin-bottom: 0;">
<strong style="color:#0063b7;"><a href="[[~[[+blox.config.custom.docids.detail]]]]&date_id=[[+id]]" target="[[+linktarget]]" rel="[[+linkrel]]">
[[+title]]</a></strong>
</p>

[[+phx:if=`[[+Time:date=`%H:%M`]]`:is=`00:00`:then=`<p>`:else=`<strong>Zeit:</strong> [[+Time:date=`%H:%M`]] Uhr<br />`]]

[[+phx:if=`[[+location]]`:is=``:then=``:else=`<strong>Ort:</strong> [[+location]]<br />`]]
<strong>Veranstalter:</strong> [[+mxcveranstalter]]
</p>
</li>