<!DOCTYPE html>
<html ng-app="migxAngular" id="ng-app">
<head>
<meta charset='utf-8' />
<base href="[[++site_url]]" />

</head>
<body>
[[!Login? &tplType=`modChunk` &loginTpl=`lgnLoginSidebarChunk` &contexts=`web,mgr`]]
<div id="migxcalCtrl"  ng-controller="migxcalCtrl" >
[[!MIGXangular? 
&buttons=`[
{"text":"Termincontainer laden","configs":"migxcalendar_loadcontainer"}
]`
]] 


[[!migxcalCalendar?
&ajax_id=`175`
&editable=`1`
&load_jquery=`0`
&load_jqueryui=`0`
&extraOptionsTpl=`migxcalEditableOptions`
]]

	<div id='script-warning'>
		your ajax-resource seems not to work.
	</div>

	<div id='loading'>loading...</div>

        <div id="migxcal_container">
        <div id="migxcal_categories">
        <ul>
        [[!migxLoopCollection? 
          &packageName=`migxcalendars` 
          &classname=`migxCalendarCategories`
          &tpl=`migxcal_categoryTpl`
        ]]
        </ul>
        <ul>
        <li class="migxcal_category" data-id="hide_published" >Aktive verbergen</li>
        <li class="migxcal_category" data-id="show_unpublished" >Nicht Aktive zeigen</li>        
        </ul>
        
        </div>
	<div id='calendar'></div>
        </div>
<script type="text/javascript">
[[!$migxcal_controller]]
</script>
</body>
</html>
