<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<base href="[[++site_url]]" />

</head>
<body>

[[!migxcalCalendar?
&ajax_id=`175`
]]

	<div id='script-warning'>
		your ajax-resource seems not to work.
	</div>

	<div id='loading'>loading...</div>

        <div id="migxcal_container">
        <div id="migxcal_categories">
        <ul>
        [[!migxLoopCollection? 
          &packageName=`migxcalendars` 
          &classname=`migxCalendarCategories`
          &tpl=`migxcal_categoryTpl`
        ]]
        </ul>
        </div>
	<div id='calendar'></div>
        </div>

</body>
</html>
