<!DOCTYPE html>
<html ng-app="migxAngular" id="ng-app">
<head>
<meta charset='utf-8' />
<base href="[[++site_url]]" />

</head>
<body>

[[!migxcalCalendar?
&ajax_id=`175`
&editable=`1`
&load_jquery=`0`
&load_jqueryui=`0`
&extraOptionsTpl=`migxcalEditableOptions`
]]

[[!Login? &tplType=`modChunk` &loginTpl=`lgnLoginSidebarChunk` &contexts=`web,mgr`]]
<div id="migxcalCtrl"  ng-controller="migxcalCtrl" >
[[!MIGXangular? 
&buttons=`[
{"text":"[[!%migxcal.load_datecontainer]]","configs":"migxcalendar_loadcontainer"}
]`
]] 




	<div id='script-warning'>
		your ajax-resource seems not to work.
	</div>

	<div id='loading'>loading...</div>

        <div id="migxcal_container">
        <div id="migxcal_categories">
        <ul>
        [[!migxLoopCollection? 
          &packageName=`migxcalendars` 
          &classname=`migxCalendarCategories`
          &tpl=`migxcal_categoryTpl`
        ]]
        </ul>
        <ul>
        <li class="migxcal_category" data-id="hide_published" >[[!%migxcal.hide_published]]</li>
        <li class="migxcal_category" data-id="show_unpublished" >[[!%migxcal.show_unpublished]]</li>        
        </ul>
        
        <h4>[[!%migxcal.date_containers]]</h4>
        <ul>
        <li class="migxcal_category datecontainer" id="datecontainer{{date_container.id}}" data-eventid="{{date_container.id}}" data-catid="{{date_container.categoryid}}"  ng-repeat="date_container in date_containers">
        {{date_container.title}}({{date_container.id}}) 
        <button type="button" ng-click="closecontainer(date_container)" class="btn btn-default datecontainer-button btn-xs pull-right">    
            <span class="glyphicon glyphicon-remove"></span> 
        </button> 
        </li>
        </ul>

        </div>
	<div id='calendar'></div>
        </div>
<script type="text/javascript">
[[!$migxcal_controller]]
</script>
</body>
</html>
